# Function Practice Exercises

Solutions to [03-Function Practice Exercises](https%3A%2F%2Fgithub.com%2FPierian-Data%2FComplete-Python-3-Bootcamp%2Fblob%2Fmaster%2F03-Methods%20and%20Functions%2F03-Function%20Practice%20Exercises.ipynb).

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    elif a >= b:
        return a
    else:
        return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers(text):
    words = text.split()
    return words[0][0] == words[1][0]

In [17]:
# Check
animal_crackers('Levelheaded Llama')

True

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    return n1 + n2 == 20 or n1 == 20 or n2 == 20

In [14]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [29]:
def old_macdonald(name):
    result = ''
    index = 0
    for letter in name:
        if index == 0 or index == 3:
            result += letter.upper()
        else:
            result += letter
        index += 1
    return result

In [30]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [31]:
def master_yoda(text):
    words = text.split()
    words.reverse()
    return " ".join(words)

In [32]:
# Check
master_yoda('I am home')

'home am I'

In [33]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [34]:
def almost_there(n):
    return abs(n-100) <= 10 or abs(n-200) <= 10

In [35]:
# Check
almost_there(104)

True

In [36]:
# Check
almost_there(150)

False

In [37]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [52]:
def has_33(nums):
    index = 1
    if len(nums) <= 1:
        return False
    while index < len(nums):
        if nums[index-1] == 3 and nums[index] == 3:
            return True
        index += 1
    else:
        return False

In [53]:
# Check
has_33([1, 3, 3])

True

In [54]:
# Check
has_33([1, 3, 1, 3])

False

In [55]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [126]:
def paper_doll(text):
    result = ''
    for i in text:
        #result += i+i+i
        result += i * 3
    return result

In [127]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [128]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [71]:
def blackjack(a,b,c):
    _sum = a + b + c
    if _sum <= 21:
        return _sum
    elif a == 11 or b == 11 or c == 11:
        _sum -= 10
        
    if _sum > 21:
        return 'BUST'

In [72]:
# Check
blackjack(5,6,7)

18

In [73]:
# Check
blackjack(9,9,9)

'BUST'

In [74]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [77]:
def summer_69(arr):
    _sum = 0
    ignoring = False
    for num in arr:
        if num == 6:
            ignoring = True
        if not ignoring:
            _sum += num
        if num == 9:
            ignoring = False
    return _sum

In [78]:
# Check
summer_69([1, 3, 5])

9

In [79]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [80]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [86]:
def spy_game(nums):
    string = ''
    for i in nums:
        if i == 0 or i == 7:
            string += str(i)
    return '007' in string

In [87]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [88]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [89]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [131]:
def count_primes(num):
    count = 0
    for x in range(2, num+1):
        #print(f"x is {x}")
        isprime = 1
        for y in range(1, x+1):
            #print(f"    y is {y}")
            if x % y == 0 and not y == 1 and not y == x:
                #print(f"        x is not prime!")
                isprime = 0
        count += isprime
    return count

In [132]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [123]:
dictionary = [
              ('a', ['  *  ',
                     ' * * ',
                     '*****',
                     '*   *',
                     '*   *']),
              ('b', ['**** ',
                     '*   *',
                     '***  ',
                     '*   *',
                     '**** ']),
              ('c', [' ****',
                     '**   ',
                     '*    ',
                     '**   ',
                     ' ****']),
              ('d', ['***  ',
                     '*  * ',
                     '*   *',
                     '*  * ',
                     '***  ']),
              ('e', [' ****',
                     '*    ',
                     '*****',
                     '*    ',
                     ' ****'])
             ]


def print_big(letter):
    for key, value in dictionary:
        if letter.lower() == key:
            string = ''
            for line in value:
                string += line + "\n"
            print(string)
            #return string

In [125]:
print_big('a')
print_big('b')
print_big('c')
print_big('d')
print_big('e')

*
 * *
*****
*   *
*   *

****
*   *
***
*   *
****

 ****
**
*
**
 ****

***
*  *
*   *
*  *
***

 ****
*
*****
*
 ****

' ****\n*    \n*****\n*    \n ****\n'

## Great Job!