# Python Data Structures

In [1]:
print('hello')

hello

In [2]:
print('new')

new

Just a cell with normal text

In [1]:
1/2

0.5

Notice that Python does real division, from two ints into a float. unlike Java

## Strings

In [2]:
mystring = "Hello World"

In [3]:
mystring[0]

'H'

In [4]:
mystring[-1]

'd'

You can use negative indexes in strings, to navigate a string counting from the end.

In [5]:
mystring[2:] # get all string from index 2 to the end

'llo World'

In [6]:
mystring[:3] # get all string from begining to index 3 (exclusive).

'Hel'

In [8]:
mystring[1:6] # get all string from index 1 to index 6 (exclusive).

'ello '

In [9]:
mystring[::] # return the whole string from beginning to end

'Hello World'

In [10]:
mystring[::2] # return the whole string from beginning to end in steps of two

'HloWrd'

In [11]:
mystring[2:6:2] # return string from index 2 to 6 (exclusive) in steps of two

'lo'

In [16]:
mystring[::-1] # return the reverse string (steps of 1 in reverse)

'dlroW olleH'

In [17]:
x = "Boppi"

In [18]:
x = x + " bi boppi"

In [19]:
x

'Boppi bi boppi'

In [20]:
letter = 'z'

In [21]:
letter * 10

'zzzzzzzzzz'

In [22]:
mystring.upper()

'HELLO WORLD'

In [23]:
mystring.split() # split string based on whitespace

['Hello', 'World']

In [24]:
mystring.split('l') # split string based on 'l'

['He', '', 'o Wor', 'd']

In [26]:
'The {} {} {} is fun.'.format('quick', 'brown', 'fox')

'The quick brown fox is fun.'

In [27]:
'The {2} {1} {0} is fun.'.format('fox', 'brown', 'quick')

'The quick brown fox is fun.'

In [28]:
'The {q} {b} {f} is fun.'.format(f='fox', b='brown', q='quick')

'The quick brown fox is fun.'

In [29]:
result = 100/777

In [30]:
print('The result was {r}'.format(r = result))

The result was 0.1287001287001287

In [32]:
print('The result was {r:1.3f}'.format(r = result)) # Format float output with width 1 and precision 3

The result was 0.129

Using new formatter system from Python 3.6, known as "f-strings".

In [33]:
name = 'José'

In [35]:
print(f'Hello, my name is {name}')

Hello, my name is José

In [36]:
'Python {}!'.format('rules')

'Python rules!'

We can add lists (concatenate them) with the + sign.

## Lists

In [37]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [39]:
list1 = ['a','d','c','b']
list2 = [2,5,4,1,3]
list1.sort() # sorts the existing list alphabetically, mutating the existing list
list2.sort() # sorts the existing list numerically, mutating the existing list
print(list1)
print(list2)

['a', 'b', 'c', 'd']
[1, 2, 3, 4, 5]

DICTIONARIES

## Dictionaries

In [3]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [4]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
my_dict['key1']

'value1'

The values of a dictionary can be of any type. Thre can be different types of values within the same dictionary.

In [7]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [8]:
my_dict.values()

dict_values(['value1', 'value2'])

In [9]:
my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

Tuples are like lists but immutable. Their values cannot be changed. They are also defined with parenthesis.

## Tuples

In [10]:
t = (1,2,3)

In [11]:
type(t)

tuple

In [13]:
# Tuple with multiple types
t = (1, 'two')

In [15]:
t = ('a','a','b')
t.count('a')

2

Sets are unordered collections of non-duplicate items.

## Sets

In [17]:
myset = set()
myset.add(1)
myset.add(2)

In [18]:
myset

{1, 2}

In [20]:
# If you try to add an element that already exists in the set, it simply ignores the instruction.
myset.add(2)

In [21]:
myset

{1, 2}

In [22]:
# you can build sets from lists
mylist = [1,1,1,2,2,2,3,3,3]

In [23]:
set(mylist)

{1, 2, 3}

In [25]:
set('Mississippi')

{'M', 'i', 'p', 's'}

TEXT FILES

## File Handling

In [34]:
# This only works on a Jupyter Notebook, and lets you write into a file
%%writefile myfile.txt
'Hello this is a text file \n'
'this is the second line \n'
'this is the third line'

UsageError: Line magic function `%%writefile` not found.

In [38]:
my_file = open('myfile.txt')
my_file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [36]:
# Check where your Jupyter Notebook is running
pwd

NameError: name 'pwd' is not defined

In [42]:
with open('myfile.txt', mode='w+') as my_file:
    my_file.write('this is my new file')

In [44]:
with open('myfile.txt', mode='r') as my_file:
    print(my_file.read())

this is my new file

In [48]:
with open('myfile.txt', mode='a') as my_file:
    my_file.write('\nand i just added a line')

In [49]:
with open('myfile.txt', mode='r') as my_file:
    print(my_file.readlines())

['this is my new fileand i just added a line\n', 'and i just added a line']

In [50]:
for line in open('myfile.txt', mode='r'):
    print(line)

this is my new fileand i just added a line

and i just added a line